
.header-container {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .header-container img {
    margin-right: 10px;
  }
  
  .header-container h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .search-container{
    margin-top: 10px;
    border-radius: 10px;
    width: 500px;
  }
