<main>
    <header>
        <div class="header-container">
            <img 
            height="60"
            width="50"
            src="https://th.bing.com/th/id/R.45ba7263d9be65dd7490283df93e95c2?rik=0y9S7BYydxzTcw&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2feTM%2fykq%2feTMykq8oc.png&ehk=zQy0Aj4YBJRPgw3yPoJYuEt2LtHUjTF%2fYLXOa83dBrw%3d&risl=&pid=ImgRaw&r=0" alt="Angular Logo">
            <h1 style="color: green;"> Homes</h1>
        </div>
    </header>
</main>

<section class="search-container">
    <form>
      <input type="text" placeholder="Filter by city">
      <button 
            class="primary" 
            style="background-color:  green;
            border-radius: 8px;
            color: white;"
            type="button">Search</button>
    </form>
</section>

<section class="results">
    <app-housing-location></app-housing-location>
</section>
